<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Error!</h1>
    <h4>An error occurred. You can check these things before reporting it:</h4>
    <ul>
        <li>Verify that the address and the game type <a href="/">here</a> are coorect</li>
        <li>Try again later</li>
        <li>Report the error you see below</li>
    </ul>
    <label>Guru Meditation:</label><br />
    <textarea cols="40">{{ error }}</textarea>
</body>
</html>
